@mixin bg_size($size) {
	background-size: $size;
	-webkit-background-size: $size;
	-o-background-size: $size;
	-moz-background-size: $size;
}

@mixin box_shadow($param) {
	box-shadow: $param;
	-webkit-box-shadow: $param;
	-moz-box-shadow: $param;
}

@mixin disp {
	display: inline-block;
	*display: inline;
}

@mixin fonts_heavy($size) {
	font-family: 'LatoWeb';
	font-size: $size;
	font-weight: 900;
}

@mixin fonts_regular($size) {
	font-family: 'LatoWeb';
	font-size: $size;
}

@mixin fonts_bold($size) {
	font-family: 'LatoWeb' !important;
	font-size: $size !important;
	font-weight: bold;
}

@mixin main_forms {
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	width: 76.6%;
	background: #fefefe;
	text-align: center;
}

@mixin img_shadow {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

@mixin input_style {
	box-sizing: border-box;
	border: 1px solid #c2c2c2;
	width: 100%;
	height: 37px;
	padding: 6px;
}

@mixin flexbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-box-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
}